RewriteEngine   On
RewriteRule     ^([a-z]+)\/?$                                                                                               ?class=$1                               [NC,L]
RewriteRule     ^([a-z]+)\/([a-z0-9çÇáàãâäÁÀÃÂÄéèẽêÉÈẼÊËíìĩîïÍÌĨÎÏóòõôöÓÒÕÔÖúùũûüÚÙŨÛÜ\-\_]+)\/?$                           ?class=$1&desc=$2                       [NC,L]
RewriteRule     ^([a-z]+)\/([a-z0-9çÇáàãâäÁÀÃÂÄéèẽêÉÈẼÊËíìĩîïÍÌĨÎÏóòõôöÓÒÕÔÖúùũûüÚÙŨÛÜ\-\_]+)\/([0-9]+)?$                    ?class=$1&desc=$2&cod=$3                [NC,L]

RewriteRule     ^([a-z]+)\/([a-z0-9çÇáàãâäÁÀÃÂÄéèẽêÉÈẼÊËíìĩîïÍÌĨÎÏóòõôöÓÒÕÔÖúùũûüÚÙŨÛÜ\-\_]+)\/([0-9]+)\/([0-9]+)?$          ?class=$1&desc=$2&cod=$3&pag=$4         [NC,L]

RewriteRule     ^([a-z]+)\/([a-z0-9]+)\/([a-z0-9çÇáàãâäÁÀÃÂÄéèẽêÉÈẼÊËíìĩîïÍÌĨÎÏóòõôöÓÒÕÔÖúùũûüÚÙŨÛÜ\-\_]+)?$                 ?class=$1&funcao=$2&desc=$3             [NC,L]
RewriteRule     ^([a-z]+)\/([a-z0-9]+)\/([a-z0-9çÇáàãâäÁÀÃÂÄéèẽêÉÈẼÊËíìĩîïÍÌĨÎÏóòõôöÓÒÕÔÖúùũûüÚÙŨÛÜ\-\_]+)\/([0-9]+)?$       ?class=$1&funcao=$2&desc=$3&cod=$4      [NC,L]

ErrorDocument   400 /?class=erro&codigo=400
ErrorDocument   401 /?class=erro&codigo=401
ErrorDocument   403 /?class=erro&codigo=403
ErrorDocument   404 /?class=erro&codigo=404
ErrorDocument   500 /?class=erro&codigo=500