body
{
    position:   absolute; 
    width:      100%;
    height:     100%;
    margin:     0;
    padding:    0;
}

.contentLogin
{
    position:   relative; 
    width:      100%;
    height:     100%;
    display:    table;
    text-align: center;
}

.loginForm
{
    display:        table-cell;
    vertical-align: middle;
}