.telLink
{
    color: #ff8400;
}

.telLink:hover
{
    color: #03789b;
}

.emailsList
{
    list-style: disc;
}

.emailsList li
{
    display:    block;
    padding:    0px;
    margin:     0px;
}

.emailsList li a
{
    color: #ff8400;
}

.emailsList li a:hover
{
    color: #03789b;
}