@font-face 
{
    font-family:    "Wevli-Bold";
    src:            url("../fonts/wevli-bold.eot");
    src:            local('Wevli-Bold'), url('../fonts/wevli-bold.ttf') format('truetype');
}

body
{
    position:           absolute;
    width:              100%;
    height:             100%;
    font-family:        'Open Sans Condensed', sans-serif;
    margin:             0;
    padding:            0;
    font-size:          1.2em;
    background-color:   black;
    color:              white;
    background-image:   url('/app.view/img/template/background.jpg');
    background-size:    100%;
    background-repeat:  no-repeat;
}

hr
{
    border:             0;
    height:             1px;
    background-image:   -webkit-linear-gradient(left,   rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -moz-linear-gradient(left,      rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -ms-linear-gradient(left,       rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -o-linear-gradient(left,        rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

strong
{
    font-weight: bolder;
}

h1,h2,h3,h4,h5,h6
{
    font-weight:    bold;
    margin:         0px;
}

h1
{
    font-size: 2em;
    margin-bottom: 20px;
}

h2
{
    font-size: 1.3em;
    margin-bottom: 15px;
}

h3
{
    font-size: 1em;
}

p
{
    margin-bottom:     20px;
}

.clear
{ 
    clear: both; 
}

.left
{
    text-align: left;
    display:    block;
}

.right
{
    text-align: right;
    display:    block;
}

.underline
{
    text-decoration: underline;
}

.center
{
    width:          100%;
    margin-left:    auto;
    margin-right:   auto;
    text-align:     center;
    display:        block;
}

a
{
    color:              white;
    text-decoration:    none;
}

a:hover
{
    text-decoration:    underline;
    color:              #08136a;
}

ul
{
    list-style: disc;
    margin-bottom: 20px;
}

ul li
{
    margin-left: 50px;
}

div.cover
{
    background-color:   rgba(0,0,0,.8);
    width:              100%;
    min-height:         100%;  
}

img#logotipoTop
{
    max-width: 100%;
}

div.menuSuperiorContainer
{
    display: block;
}

nav#menuSuperior
{
    position:           relative;

    margin-top:         20px;
    width:              100%;

    background-color:   #03789b;

    text-align:         center;

    font-family:        'Wevli-Bold', sans-serif;
}

nav#menuSuperior ul
{
    list-style: none;
    display:    inline-block;
    padding:    0px;
    margin:     0px;
}

nav#menuSuperior ul li
{
    list-style: none;
    display:    inline-block;
    padding:    0px;
    margin:     0px;
}

nav#menuSuperior ul li a
{
    font-size:              1.8em;
    color:                  white;
    text-decoration:        none;

    padding-top:            10px;
    padding-bottom:         10px;
    padding-left:           20px;
    padding-right:          20px;

    -webkit-border-radius:  50px;
    -moz-border-radius:     50px;
    border-radius:          50px;

    -webkit-transition:     all 0.4s ease-in-out;
    -moz-transition:        all 0.4s ease-in-out;
    -ms-transition:         all 0.4s ease-in-out;
    -o-transition:          all 0.4s ease-in-out;
    transition:             all 0.4s ease-in-out;
}

nav#menuSuperior ul li a:hover
{
    text-decoration:    underline;

    background-color:   white;

    /*
    color:              #03789b;
    color:              #ff8400;
    */
    color:              #08136a;
}

div.menuSuperiorResponsivoContainer
{
    position: fixed;
    min-height: 50px;

    display: none;

    z-index: 99999;
}

nav#menuSuperiorResponsivo
{
    width:                  100%;
    height:                 50px;

    background-color:       #03789b;
    background-image:       url('../img/template/menuIcon.png');
    background-position:    right;
    background-size:        50px 50px;
    background-repeat:      no-repeat;

    text-align:             center;

    font-family:            'Wevli-Bold', sans-serif;
}

nav#menuSuperiorResponsivo ul
{
    position:           relative;

    top:                50px;
    padding:            0px;
    margin:             0px;

    background-color:   #03789b;

    list-style:         none;
    display:            block;
}

nav#menuSuperiorResponsivo ul li
{
    padding:        0px;
    margin:         0px;
    padding-top:    3px;
    padding-bottom: 3px;
    border-top:     1px solid #ffffff;
}

nav#menuSuperiorResponsivo ul li a
{
    font-size: 1.4em;
}

section
{
    margin-bottom:  20px;
    margin-top:     20px;
    font-size:      1.1em;
    line-height:    1.4em;
    text-align:     justify;
}

footer
{
    position:           relative;

    margin-top:         20px;
    padding-top:        5px;
    padding-bottom:     5px;
    width:              100%;

    background-color:   #03789b;

    text-align:         center;
    font-size:          .9em;
}