body
{
    position:       absolute;;
    width:          100%;
    height:         100%;
    font-family:    'Open Sans Condensed', sans-serif;
    margin:         0;
    padding:        0;
    font-size:      1.4em;
}

hr
{
    border:             0;
    height:             1px;
    background-image:   -webkit-linear-gradient(left,   rgba(255,132,0,.25), rgba(255,132,0,1), rgba(255,132,0,.25)); 
    background-image:   -moz-linear-gradient(left,      rgba(255,132,0,.25), rgba(255,132,0,1), rgba(255,132,0,.25)); 
    background-image:   -ms-linear-gradient(left,       rgba(255,132,0,.25), rgba(255,132,0,1), rgba(255,132,0,.25)); 
    background-image:   -o-linear-gradient(left,        rgba(255,132,0,.25), rgba(255,132,0,1), rgba(255,132,0,.25)); 
}

hr.white
{
    border:             0;
    height:             1px;
    background-image:   -webkit-linear-gradient(left,   rgba(255,255,255,.25), rgba(255,255,255,1), rgba(255,255,255,.25)); 
    background-image:   -moz-linear-gradient(left,      rgba(255,255,255,.25), rgba(255,255,255,1), rgba(255,255,255,.25)); 
    background-image:   -ms-linear-gradient(left,       rgba(255,255,255,.25), rgba(255,255,255,1), rgba(255,255,255,.25)); 
    background-image:   -o-linear-gradient(left,        rgba(255,255,255,.25), rgba(255,255,255,1), rgba(255,255,255,.25)); 
}

.clear
{ 
    clear: both; 
}

.left
{
    text-align: left;
    display:    block;
}

.right
{
    text-align: right;
    display:    block;
}

.underline
{
    text-decoration: underline;
}

.center
{
    width:          100%;
    margin-left:    auto;
    margin-right:   auto;
    text-align:     center;
    display:        block;
}

.noSpace
{
    margin:     0px;
    padding:    0px;
}

a
{
    color:              #08136A;
    font-weight:        bolder;
    text-decoration:    none;
}

a:hover
{
    text-decoration: underline;
}

header
{
    position:           relative;
    text-align:         center;
}

.menuBar
{
    position:   fixed;
    z-index:    2;
    top:        13px;
}

#menuSuperior
{
    position:           fixed;
    top:                0px;
    width:              100%;
    text-align:         center;
    white-space:        nowrap;

    background-color:   rgba(255,255,255,.9);

    font-size:          1.5em;
    z-index:            1;
}

#menuSuperior ul
{
    margin-top:     0px;
    margin-bottom:  0px;
    list-style:     none;
    white-space:    nowrap;
}

#menuSuperior ul li
{
    display:            inline-block;
    padding-top:        10px;
    padding-bottom:     10px;

    color:              #08136A;
    font-weight:        bolder;
    text-align:         right;
}

#menuSuperior ul li a
{
    padding-left:       20px;
    padding-right:      20px;
    padding-top:        10px;
    padding-bottom:     10px;
    margin:             0px;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition:    all .3s ease-in-out;
    -ms-transition:     all .3s ease-in-out;
    -o-transition:      all .3s ease-in-out;
    transition:         all .3s ease-in-out;
}

#menuSuperior ul li a:hover
{
    background-color:   #FF8400;
    color:              #08136A;
    text-decoration:    none;
}

section
{
    width:          100%;
    text-align:     justify;
}

.content
{
}

.home
{
    position:           relative;
    text-align:         center;
}

.web
{
}

.sistemas
{
}

.portifolio
{
}

.contato
{
    padding-left:       100px;
    padding-right:      100px;
    background-color:   #08136A;

    color:              white;
}

.contato strong
{
    color: #FF8400;
}

.facebookPage
{
    margin-bottom: 20px;
}


footer
{
    background-color:   #FF8400;
}

footer h1
{
    text-decoration:    underline;
    font-weight:        bold;

    width:              100%;
    margin-left:        auto;
    margin-right:       auto;
    margin-bottom:      7px;
    text-align:         center;
    display:            block;
    font-size:          1em;
}

footer nav#menuInferior ul
{
    margin: 0px;
}

footer nav#menuInferior ul li
{
    list-style: none;
    margin:     0px;
    padding     0px;
}

footer nav#menuInferior ul li a
{
    font-weight:    normal;
    color:          black;
}

.google-maps 
{
    position:       relative;
    padding-bottom: 30%; // This is the aspect ratio
    height:         0;
    overflow:       hidden;
}
.google-maps iframe 
{
    position:   absolute;
    top:        0;
    left:       0;
    width:      100% !important;
    height:     100% !important;
}